body {
    background-color: #060606;
    color: #ffffff;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",

    "Arial", sans-serif;
  }
/* Style the tab */
.tab {
    display: flex;
    justify-content: center;
    overflow: hidden;

  /*  */
  }
/* Style the buttons inside the tab */
.tab button {
    background-color: #060606;
    border: none;
    color: #ffffff;
    cursor: pointer;
    float: right;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    font-size: 17px;
    justify-content: space-between;
    outline: none;
    padding: 14px 16px;
    transition: 0.7s;

    "Arial", sans-serif;
  }
/* Create an active/current tablink class */
.tab button.selected {
    border-bottom: 2px solid white;
    padding-bottom: 5px;
  }
/* Style the tab content */
.tabcontent {
    border-top: none;
    display: none;
    padding: 6px 12px;
  }
.mainMenu {
    animation: fadeIn 3s;
    display: block;
  }
.mainMenu .information {
    animation: fadeIn 5s;
  }
/* Profile picture */
.profilPicture {
    border-radius: 50rem;
    border: 3px solid rgb(0, 0, 0);
    box-shadow: 5px 0px 20px 0px rgba(85, 85, 85, 0.95);
    height: 250px;
    margin-right: 10%;
    width: 250;
  }
/* All the thing with the profil picture and the description */
.presentation {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
  }
.pageTitle {
    color: white;
    font-size: 35px;
  }
.bubblePresentation {
    background-color: #006aff;
    border-radius: 50px 50px 50px 0px;
    color: #ffffff;
    font-size: 1rem;
    font-weight: bold;
    height: 1.7rem;
    line-height: 0px;
    padding: 10px;
    text-align: center;
    width: 20%;
  }
.emptybox {
    height: 5rem;
  }
.myname {
    color: #ffffff;
    font-size: 2.5rem;
    font-weight: bold;
    height: 1rem;
    margin-top: 5%;
    padding: 10px;
    text-align: left;
    vertical-align: middle;
  }
.myrole {
    border-radius: 50px 50px 50px 0px;
    color: #ffffff;
    font-size: 1.75rem;
    font-weight: bold;
    margin-top: -5%;
    padding: 10px;
    text-align: left;
    vertical-align: middle;
  }
.informationfield {
    border-radius: 50px 50px 50px 0px;
    color: #ffffff;
    font-size: 1rem;
    font-weight: bold;
    margin-top: -5%;
    padding: 10px;
    text-align: right;
    vertical-align: middle;
    width: 250px;
  }
.logoicon {
    animation: fadeIn 60s;
    height: 17px;

  /*  */
  }
.flexbox {
    display: flex;
    gap: 15%;
    justify-content: center;
    padding-block: 10vh;
  }
.alignedPicture {
    align-items: center;
    display: flex;
    height: 5%;
    padding-block: 4vh;
  }
.logoToWebsite {
    animation-timing-function: ease-out;
    animation: logoToWebsite 3s linear forwards;
    height: 30px;
    margin: 36px;
    width: 30px;
  }
@keyframes logoToWebsite {
  0% {
      margin-left: -700%;
      opacity: 0;
    }
  100% {
      margin-left: 0%;
      opacity: 1;
    }
  }
.flexboxForLogo {
    display: flex;
    justify-content: space-around;
  }
.center_box {
    -ms-transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    left: 57%;
    margin: 0;
    position: absolute;
    top: 35%;
    transform: translate(-50%, -50%);
    width: 50vw;
  }
/* All the progress bar css */
.skill_card {
    flex: 50%;
    font-size: 75%;
  }
.progress_bar {
    background: #959595;
    border-radius: 5px;
    height: 10px;
    width: 50%;
  }
.progress_bar div {
    background: red;
    border-radius: 5px;
    height: 10px;
    width: 0%;

  /*  */
  }
.progress_bar div span {
    align-items: center;
    background: #060606;
    border-radius: 50%;
    color: #fff;
    display: flex;
    float: right;
    height: 30px;
    justify-content: center;
    margin-right: -15px;
    margin-top: -10px;
    width: 30px;
  }
.html {
    animation-timing-function: ease-out;
    animation: html 2s linear forwards;
    background: #f06529;
  }
.html span {
    animation: fadeIn 3s;
    border: #f06529 1px solid;
  }
.css {
    animation-timing-function: ease-out;
    animation: css 2s linear forwards;
    background: #2965f1;
  }
.css span {
    animation: fadeIn 3s;
    border: #2965f1 1px solid;
  }
.javascript {
    animation-timing-function: ease-out;
    animation: javascript 2s linear forwards;
    background: #f0db4f;
  }
.javascript span {
    animation: fadeIn 3s;
    border: #f0db4f 1px solid;
  }
.mysql {
    animation-timing-function: ease-out;
    animation: mysql 2s linear forwards;
    background: #00758f;
  }
.mysql span {
    animation: fadeIn 3s;
    border: #00758f 1px solid;
  }
.php {
    animation-timing-function: ease-out;
    animation: php 2s linear forwards;
    background: #8993be;
  }
.php span {
    animation: fadeIn 3s;
    border: #8993be 1px solid;
  }
.csharp {
    animation-timing-function: ease-out;
    animation: csharp 2s linear forwards;
    background: #a179dc;
  }
.csharp span {
    animation: fadeIn 3s;
    border: #a179dc 1px solid;
  }
.ruby {
    animation-timing-function: ease-out;
    animation: ruby 2s linear forwards;
    background: red;
  }
.ruby span {
    animation: fadeIn 3s;
    border: red 1px solid;
  }
.python {
    animation-timing-function: ease-out;
    animation: python 2s linear forwards;
    background: #ffd43b;
  }
.python span {
    animation: fadeIn 3s;
    border: #ffd43b 1px solid;
  }
@keyframes python {
  100% {
      width: 20%;
    }
  }
@keyframes ruby {
  100% {
      width: 35%;
    }
  }
@keyframes csharp {
  100% {
      width: 30%;
    }
  }
@keyframes php {
  100% {
      width: 65%;
    }
  }
@keyframes mysql {
  100% {
      width: 50%;
    }
  }
@keyframes javascript {
  100% {
      width: 70%;
    }
  }
@keyframes css {
  100% {
      width: 60%;
    }
  }
@keyframes html {
  100% {
      width: 75%;
    }
  }
@keyframes fadeIn {
  0% {
      opacity: 0;
    }
  100% {
      opacity: 1;
    }
  }